<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="{{ site.baseurl }}/">Komunitas Git Indonesia</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="{{ site.baseurl }}/">Halaman Utama</a></li>
								<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
								<li>
									<a href="">Tampilan Lain</a>
									<ul>
										<li><a href="{{ site.baseurl }}/sidebar-kiri.html">Sidebar Kiri</a></li>
										<li><a href="{{ site.baseurl }}/sidebar-kanan.html">Sidebar Kanan</a></li>
										<li><a href="{{ site.baseurl }}/tidak-ada-sidebar.html">Tidak Ada Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Hi ...</h2>
								<p>Ayo gabung, Disini banyak programmer ganteng.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-git-square"></i>
										<header>
											<h2>Git?</h2>
										</header>
										<p>Yang belum tau, Git adalah perangkat lunak pengontrol versi (VCS) untuk pengembangan program individual dan bersama-sama.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Cepat</h2>
										</header>
										<p>Buat program jadi cepat kalo pake git, bisa kolaborasi sama developer-developer lain. Bisa liat kode sebelumnya, Revisi kode, dll. Keren kan.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-github-square"></i>
										<header>
											<h2>Open Source</h2>
										</header>
										<p>Banyak orang di belahan dunia yang membuat program terbuka dan berkolaborasi menggunakan git. Contoh yang lumayan banyak di 
										<a href="https://github.com/trending"
											style="text-decoration: none;"
											target="_blank">GitHub
										</a>.
										</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="https://guides.github.com/activities/hello-world/" class="button big">Mulai Pake Git</a></li>
									<li><a href="https://help.github.com/" class="button alt big">Belajar Lebih Banyak</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>