<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/">Komunitas Git Indonesia</a></h1>

			<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{{ site.baseurl }}/">Halaman Utama</a></li>
								<li class="current"><a href="{{ site.baseurl }}/blog">Blog</a></li>
								<li>
									<a href="">Tampilan Lain</a>
									<ul>
										<li><a href="{{ site.baseurl }}/sidebar-kiri.html">Sidebar Kiri</a></li>
										<li><a href="{{ site.baseurl }}/sidebar-kanan.html">Sidebar Kanan</a></li>
										<li><a href="{{ site.baseurl }}/tidak-ada-sidebar.html">Tidak Ada Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</nav>

				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>

		</div>
	</div>