/**
 * LAYOUT
 * Site layout, ids and classes, reposition, resposive, etc.
 */

// TODO: Defines these color via _variables.scss

body {
  // margin-bottom: 60px; /* sticky footer */
  // padding-top: 70px; /* fixed navbar-top   */
  padding-top: 50px; /* fixed navbar-top + jumbotron */
  // padding-bottom: 20px;
  > header {
    /* class-less header */
  }
  > footer {
    /* class-less footer */
    background-color: #f5f5f5;
    padding: 25px 0;
  }
}

.source-link {
  text-align: center;
  padding: 15px 0;
  background-color: #e5e5e5;
}

.landing-community {
  text-align: center;
  h1 { @extend h1; }
  p { @extend p; }
}

.page-highligter {
  color: inherit;
  background-color: #eee;
  padding: 15px 0;
}

.user {
  &-description {
    display: block;
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0%;
    background-color: rgba(50,50,50,0.8);
    color: #fff;
    z-index: 99;
    font-size: 12px;
    padding: 3px;
  }
  &-realname {
    font-weight: bold;
    font-size: 16px;
    &:before {
      content: "\A";
    }
  }
  &-image {
    z-index: 1;
    width: 100%;
    height: auto;
  }
  &-information {
    opacity: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(50,50,50,0.8);
    z-index: 50;
    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;
    transition: 0.7s all ease;
    &:hover {
      opacity: 1;
      -webkit-transition: 0.7s all ease;
      -moz-transition: 0.7s all ease;
      -o-transition: 0.7s all ease;
      transition: 0.7s all ease;
    }
  }
}

.memberlist-community, .user-item {
  padding: 0;
  margin: 0;
}
