// --------------------------------------
// Variables
// --------------------------------------

// Font-size.
$font-family-base:      "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size-base:        14px !default;

// Headings, based font-size-base. Leave the rest.
$font-size-large:       ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:       ceil(($font-size-base * 0.85)) !default; // ~12px

// Colors.
$black:                 #26252C;
$diff-semi-black:       #242A2F;
$diff-white:            #F9F9F9;
$git-id:                #EE3237;
$maroon:                #f34965;
$semi-black:            #303841;
$white:                 #F5F5F5;

