---
layout: default
---
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{{ "/blog/" | prepend: baseurl }}">Blog</a></li>
    <li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
  </ol>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <article class="blog-post">
        <h2 class="blog-post-title text-center"><a href="{{ page.url }}" id="title_{{ page.id }}"><p>{{ page.title }}</p></a></h2>
        <p class="blog-post-meta text-center text-muted">
          Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
          by <a href="//github.com/{{ page.author }}" itemprop="author" itemscope itemtype="//schema.org/Person">{{ page.author }}</a>
        </p>
        <div id="post_{{ page.id }}" class="blog-post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
  </div>
  </div>
</div>
